.board {
    outline: 5px solid black;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
}
.square.black {
    background: #0492C2;
}
.square.white {
    background: #BCD4E6;
}